<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>email5</title>
</head>
<body>
    <a href="/inbox">BACK</a>
    <h2> Free Trial Expiring Soon </h2>
    <h5> Your Domain user@yourdomain.com </h5>
    <h6> To: John Doe you@yourdomain.com </h6>
    <h4> John, thank you for choosing to use NAME during this trial period.
        Unfortunately, your 30 day free trial with NAME will expire in three days.
        If you would like to renew your subscription please complete the following:
    </h4>
    <ol>
        <li> Log onto your account (here)</li>
        <li> Under the SUBSCRIPTION tab, choose a new subscription plan</li>
        <li> Enter your information and payment method</li>
    </ol>
    <h4> We hope for your continued support of NAME. If you have an questions/concerns, you can contact us at this email < >.</h4>
    <div>
    <h4> NAME </h4>
</body>
</html>