<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>email3</title>
</head>
<body>
    <a href="/inbox">BACK</a>
    <h2> Congragulations </h2>
    <h5> Your Domain user@yourdomain.com </h5>
    <h6> To: John Doe you@yourdomain.com </h6>
    <h4> Congratulations! You have won a free iPhone X from our giveaway! Your email address was selected 
         using a random generator for all the emails under @yourdomain. Please claim your prize within 10 days, 
         or else the prize will automatically be assigned a new winner. Shipping is not free, so please provide your 
        contact info as well as your payment method below. </h4>
    <div>
    <h4> Full name:___ Age:___ Address:___ Credit card type:___ Credit card number:___ </h4>
</body>
</html>
