<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>email4</title>
</head>
<body>
    <a href="/inbox">BACK</a>
    <h2> Unauthorized Login Attempt </h2>
    <h5> Todd111@domain.com </h5>
    <h6> To: John Doe you@yourdomain.com </h6>
    <h4> Valued Customer, we noticed that your account was accessed on an unauthorized device.
         In order to reconfirm your information, please log in on our website (here). After verification,
         we will take the necessary steps in order to ensure your safety.  </h4>
</body>
</html>